.boyparking, .girlparking, .parking {
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
    line-height: 150px;
    float: left;
    background-color: lightgray;
    width: 250px;
    height: 250px;
    border: 1px dotted gray;
}

.square {
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
    line-height: 100px;
    float: left;
    cursor: pointer;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    color: red;
}   

.highlight {
    background-color: lightgreen;
}

.boy {
    background-image: url("boy.jpg");
    background-size: 100%;
}

.girl {
    background-image: url("girl.jpg");
    background-size: 100%;
}

p {
    color: red;
    margin: 25% 0;    
}